Django>=5.1,<5.2
python-dotenv==1.1.0
pillow==11.2.1
django-cleanup==9.0.0
django-allauth==65.8.0
django-htmx==1.23.0
wagtail==7.0
anyascii==0.3.2
asgiref==3.8.1
beautifulsoup4==4.13.4
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==44.0.3
defusedxml==0.7.1
django-filter==25.1
django-modelcluster==6.4
django-permissionedforms==0.1
django-stubs-ext==5.2.0
django-taggit==6.1.0
django-tasks==0.7.0
django-treebeard==4.7.1
djangorestframework==3.16.0
draftjs_exporter==5.1.0
et_xmlfile==2.0.0
filetype==1.2.0
idna==3.10
laces==0.1.2
openpyxl==3.1.5
pillow_heif==0.21.0
psycopg2-binary==2.9.10
pycparser==2.22
pycryptodome==3.22.0
pycryptodomex==3.22.0
pyOpenSSL==25.0.0
python-alipay-sdk==3.3.0
requests==2.32.3
soupsieve==2.7
sqlparse==0.5.3
telepath==0.3.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
Willow==1.10.0

uwsgi==2.0.20